---
import Button from "../Button.astro"
import PlanetOverview from "../PlanetOverview.astro"
import Text from "../Text.astro"
import Title from "../Title.astro"
import AstronautStats from "./AstronautStats.astro"
import OurMission from "./OurMission.astro"
// import AstronautStats from "./AstronautStats.astro"
// import EarthOverview from "./EarthOverview.astro"

const herosectionImgSrc = './src/components/HeroSection/img'
---
<section>
    <PlanetOverview 
        imageWrapHeight="381px"
        mobileImgSrc=`${herosectionImgSrc}/mobile-earth-view.png`
        tabletImgSrc=`${herosectionImgSrc}/tablet-earth-view.png`
        deskImgSrc=`${herosectionImgSrc}/desk-earth-view.png`>
        <Title className="overview-title" title="Unveiling the Wonders of the Universe"></Title>
    </PlanetOverview>
    <OurMission></OurMission>
</section>

<style is:global>
    .overview-title {
        color: var(--color-text-white);
        max-width: 300px;
    }
    @media (max-width: 749px) {
        .astronaut-stats-section {
            display: flex;
            justify-content: center;
        }
    }
    @media (min-width: 750px and max-width: 1059px)  {
    } 

	@media (min-width: 1060px) and (max-width: 1919px) {
      
    }
    
	@media (min-width: 1920px) { 

    } */
</style>