---
import Button from "../Button.astro"
import PlanetOverview from "../PlanetOverview.astro"
import Text from "../Text.astro"
import Title from "../Title.astro"
import AstronautStats from "./AstronautStats.astro"
import OurMission from "./OurMission.astro"
// import AstronautStats from "./AstronautStats.astro"
// import EarthOverview from "./EarthOverview.astro"

const imgRoot = './hero-section/img'
---
<PlanetOverview 
imageWrapHeight="367px"
mobileImgSrc=`${imgRoot}/mobile-earth-view.png`
tabletImgSrc=`${imgRoot}/tablet-earth-view.png`
deskImgSrc=`${imgRoot}/desk-earth-view.png`
className="earth-overview">
    <Title className="overview-title" title="Unveiling the Wonders of the Universe"></Title>
</PlanetOverview>
<section class="hero-description">
    <OurMission className="our-mission"></OurMission>
    <AstronautStats className="astronaut-stats"></AstronautStats>
</section>

<style is:global>
    .overview-title {
        color: var(--color-text-white);
        max-width: 300px;
    }
    .hero-description {
        display: grid;
    }
    @media (max-width: 788px) {
        .hero-description {
            grid-template-rows: 250px 1fr; /* These are magic numbers (they looked fine on screen)*/ 
            justify-items: center; /* This was made in order to center the image*/
        } 
        .our-mission {
            grid-row: 2 / 3; /* This was made in order to correctly position the text*/
        }
        .astronaut-stats {
            position: relative;
            top: -200px; /* This is a magic number (it looked fine on screen)*/ 
            grid-row: 1 / 2; /* This was made in order to correctly position the image*/
        }
    }
    @media (min-width: 789px) and (max-width: 1059px)  {
        .hero-description {
            grid: 300px / 1fr 1fr;
            justify-items: center;
            
        } 
        .our-mission {
            grid-column: 1 / 2;
        }
        .astronaut-stats {
            grid-column: 2 / 3; 
            position: relative;
            top: -200px; /* This is a magic number (it looked fine on screen)*/ 
        }
    }
     

	@media (min-width: 1060px) and (max-width: 1919px) {
        .hero-description {
            display: grid;
            grid: 265px / 1fr 1fr;
            margin-top: 0;
        } 
        .our-mission {
            margin-top: 0;
            grid-column: 1 / 2;
        }
        .astronaut-stats {
            /* I justified the content in order to put the astronaut image at the right */
            /* If you remove this, the image will be kind of moved to the left a little*/
            display: flex;
            justify-content: end;
            grid-column: 2 / 3;
            /* -120% it's a magic number. I choosed it because it looks better in the final result. */
            /* This was made in order to move up the image */
            position: relative;
            top: -120%;
        }
        .earth-overview {
            padding: 30px;
        }
    }
    
	@media (min-width: 1920px) { 

    } 
</style>