---
import Feature from "./Feature.astro";
---
<section>
    <h1>Join our vibrant community of space enthusiasts where you can</h1>
    <div>
        <Feature title="Astronomy 101" srcIcon="">Dive into the basics of astronomy. Learn about stars, planets, galaxies, and the tools astronomers use to explore the universe.</Feature>
        <Feature title="Astronomy 101" srcIcon="">Dive into the basics of astronomy. Learn about stars, planets, galaxies, and the tools astronomers use to explore the universe.</Feature>
        <Feature title="Astronomy 101" srcIcon="">Dive into the basics of astronomy. Learn about stars, planets, galaxies, and the tools astronomers use to explore the universe.</Feature>
        <Feature title="Astronomy 101" srcIcon="">Dive into the basics of astronomy. Learn about stars, planets, galaxies, and the tools astronomers use to explore the universe.</Feature>
    </div>
</section>
