---
import MarsOverview from "./MarsOverview.astro";
import Resource from "./Resource.astro";
---

<section>
    <MarsOverview></MarsOverview>
    <div>
        <Resource stepNumber="01" title="Online Free courses and tutorials">Dive into the basics of astronomy. Learn about stars, planets, galaxies, and the tools astronomers use to explore the universe.</Resource>
    <Resource stepNumber="01" title="Online Free courses and tutorials">Dive into the basics of astronomy. Learn about stars, planets, galaxies, and the tools astronomers use to explore the universe.</Resource>
    <Resource stepNumber="01" title="Online Free courses and tutorials">Dive into the basics of astronomy. Learn about stars, planets, galaxies, and the tools astronomers use to explore the universe.</Resource>
    </div>
</section>