---
import PlanetOverview from "../PlanetOverview.astro";
import Title from "../Title.astro";
import ResourceList from "./ResourceList.astro";

const imgRoot = './educational-resources/img'
---

<PlanetOverview 
    className="overview"
    imageWrapHeight="393px"
    mobileImgSrc=`${imgRoot}/mobile-mars-overview.jpg`
    tabletImgSrc=`${imgRoot}/tablet-mars-overview.png`
    deskImgSrc=`${imgRoot}/desk-mars-overview.png`>
    <Title className="overview-title" title="We are committed to making space science accessible to all. Explore our educational resources, including"></Title>
</PlanetOverview>
<section class="resources">
    <ResourceList className="resource-list"></ResourceList>
</section>

<style is:global>
    .overview-title {
        color: var(--color-text-white);
    }
    @media (width <= 740px) {
        .resources {
            display: grid;
            align-items: center;
            justify-items: center;
            /* background-color: black; */
            height: 750px;
        }
        .resource-list {
            position: relative;
            top: -150px;
            display: grid;
            gap: 5px;
            grid-template-rows: repeat(3, 1fr);
        }
    }
    @media (740px < width <= 1060px) {
        .resources {
            display: grid;
            align-items: center;
            justify-items: center;
            /* background-color: black; */
            height: 450px;
            align-items: center;
        }
        .resource-list {
            display: grid;
            gap: 15px;
            grid: repeat(2, 1fr) / repeat(2, 1fr);
            position: relative;
            top: -160px;
            /* background-color: blue; */
            align-items: center;
            justify-items: center;
        }
        .overview-title {
            width: 600px;

            text-align: center;
        }
        .overview {
            display: flex;
            align-items: start;
            justify-content: center;
        }
            
    }
    
	@media (1060px < width <= 1920px) {
        .overview {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .overview-title {
            width: 800px;
            text-align: center;
        }
        .resource-list {
            position: relative;
            /* I chose -200px  because it looked better in the resulting positon*/
            top: -200px;
            display: grid;
            justify-items: center;
            grid: 1fr /  1fr 1fr 1fr;   
            height: 150px;
        }
    }
    
	@media (min-width: 1920px) { 
        
    }
</style>

