---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import AboutUs from "../components/AboutUs.astro"
import LogIn from "../components/LogIn.astro"
import Main from "../components/Main.astro"
import CommunitySection from "../components/CommunitySection.astro"
---
<Layout title={"Home"}>
    <Header></Header>
    <Main></Main>
    <CommunitySection></CommunitySection>
    <AboutUs></AboutUs>
    <LogIn></LogIn>
    <Footer></Footer>
</Layout>
