---
import PlanetOverview from "../PlanetOverview.astro";
import Title from "../Title.astro";
import Text from "../Text.astro";
import Button from "../Button.astro";
import Input from "../Input.astro";

const callToActionImgDir = './call-to-action/img' 
---

<PlanetOverview className="call-to-action" imageWrapHeight="311px" deskImgSrc=`${callToActionImgDir}/venus-planet.png` mobileImgSrc=`${callToActionImgDir}/venus-planet.png` tabletImgSrc=`${callToActionImgDir}/venus-planet.png`>
    <Title className="call-to-action-title" title="Join our community"></Title>
    <Text className="call-to-action-text" text="of stargazers, explorers, and cosmic enthusiasts as we embark on a journey through the cosmos like never before."></Text>
    <div class="subscribe-section">
        <Input className="input-action" bgColor="white" textColor="#171E2780" placeHolder="Enter Your Email"></Input>
        <Button className="" bgColor="#A9C2CB" textColor="white" span="Subscribe"></Button>
    </div>
</PlanetOverview>

<style is:global>
    .subscribe-section {
        display: flex;
        width: 100%;
    }
    @media (max-width: 600px) {
        .subscribe-section {
            flex-direction: column;
            align-items: start;
        } 
        .call-to-action {
            align-content: space-between;
        }
        .call-to-action-title {
            font-size: 32px;
            font-weight: 800;
            line-height: 40.32px;
            text-align: left;
            
        } 
    }
    @media (min-width: 601px) and (max-width: 1059px) {
        .call-to-action-text {
            max-width: 70%;
        }
        .call-to-action {
            align-content: space-between;
        }
        .call-to-action-title {
            font-size: 32px;
            font-weight: 800;
            line-height: 40.32px;
            text-align: left;
            
        }
        .subscribe-section {
            flex-direction: row;
            align-items: center;
        }
    }

	@media (min-width: 1060px) and (max-width: 1919px) {
        .subscribe-section {
            flex-direction: row;
            align-items: center;
        }
        .call-to-action {
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
        }
        .call-to-action-title {
            font-size: 40px;
            font-weight: 800;
            line-height: 50.4px;
            text-align: left;
            margin: 0;
        }
        .call-to-action-text {
            max-width: 398px;
            
        }
        .input-action {
            width: 416px;
        }
    }
    
	@media (min-width: 1920px) { 
        
    }
    .call-to-action-title, .call-to-action-text {
        color: var(--color-text-white);
    }
</style>