<div>
    <img src="./src/components/Header/img/MobileOdysseyLogo.png" alt="Odyssey: page logo" class="MobileOdysseyLogo">
    <img src="./src/components/Header/img/TabletOdysseyLogo.png" alt="Odyssey: page logo" class="TabletOdysseyLogo">
    <img src="./src/components/Header/img/DeskOdysseyLogo.png" alt="Odyssey: page logo" class="DeskOdysseyLogo">
</div>
<style>
    @media (min-width: 0px) and (max-width: 1059px) {
        .MobileOdysseyLogo {
            min-width: 129px;
        }
        .DeskOdysseyLogo {
            display: None;
        }
        
        .TabletOdysseyLogo {
            display: None;
        }
    }

	@media (min-width: 1060px) and (max-width: 1919px) {
        .TabletOdysseyLogo {
            min-width: 154px;
        }
        .DeskOdysseyLogo {
            display: None;
        }
        
        .MobileOdysseyLogo {
            display: None;
        }
    }
    
	@media (min-width: 1920px) { 
        .DeskOdysseyLogo {
            min-width: 205px;
        }
        .TabletOdysseyLogo {
            display: None;
        }
        
        .MobileOdysseyLogo {
            display: None;
        }
    }
</style>