---
function openSideNav():void {
    const sideNav = document.getElementsByClassName('sideNavList')
    //sideNav.classList.add("open");
}
---
<header>
    <div>
        <img src="../img/MobileOdysseyLogo.png" class="MobileOdysseyLogo">
        <img src="../img/TabletOdysseyLogo.png" class="TabletOdysseyLogo">
        <img src="../img/DeskOdysseyLogo.png" class="DeskOdysseyLogo">
    </div>
    <nav>
        <ul class="navList">
            <li><a href="/">Stay Connected</a></li>
            <li><a href="/">Education</a></li>
            <li><a href="/">Community</a></li>
            <li><a href="/">About Us</a></li>
            <li><a href="/">Sign In</a></li>
        </ul>
        <div>
            <svg onclick="openSideNav()" class="menuIcon" width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16 5.17497L18.83 8.00497L16 10.835L13.17 8.00497L16 5.17497ZM8.34003 5.65497V9.65497H4.34003V5.65497H8.34003ZM18.34 15.655V19.655H14.34V15.655H18.34ZM8.34003 15.655V19.655H4.34003V15.655H8.34003ZM16 2.34497L10.34 7.99497L16 13.655L21.66 7.99497L16 2.34497ZM10.34 3.65497H2.34003V11.655H10.34V3.65497ZM20.34 13.655H12.34V21.655H20.34V13.655ZM10.34 13.655H2.34003V21.655H10.34V13.655Z" fill="#0D0F12"/>
            </svg>
            <ul class="sideNavList">
                <li><a href="/">Stay Connected</a></li>
                <li><a href="/">Education</a></li>
                <li><a href="/">Community</a></li>
                <li><a href="/">About Us</a></li>
                <li><a href="/">Sign In</a></li>
            </ul>
        </div>
    </nav>
</header>
<style>
	@media (min-width: 375px) and (max-width: 1059px) {
        .sideNavList {
            padding: 20px;
            height: 100vh;
            width: 100vw;
            position: fixed 0 0;
            background-color: var(--bg-color-softblack);
            overflow-x: hidden;
            transition: width,height 0.5s;
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: left
        }
        .sideNavList a {
            font-size: var(--font-size-md);
            color: var(--text-white);
            margin: 20px 0px 20px 0px;
        }
        .navList {
            display: none;
        }
        .DeskOdysseyLogo {
            display: None;
        }

        .TabletOdysseyLogo {
            display: None;
        }
    }

	@media (min-width: 1060px) and (max-width: 1919px) {
        .navList {
            gap: 10px;
            justify-content: space-around;
            align-items: center
        }
        .sideNavList {
            display: none;
        }
        .menuIcon {
            display: None;
        }
        
        .DeskOdysseyLogo {
            display: None;
        }
        
        .MobileOdysseyLogo {
            display: None;
        }
        .navList li a {
            font-size: var(--font-size-sm);
            line-height: var(--line-height-sm);
        }
    }
    
	@media (min-width: 1920px) {
        .sideNavList {
            display: none;
        }
        .navList {
            gap: 20px;
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            align-items: center
        }
        .menuIcon {
            display: None;
        }
        
        .TabletOdysseyLogo {
            display: None;
        }
        
        .MobileOdysseyLogo {
            display: None;
        }
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center
    }
    a {
        font-weight: var(--font-weight-semibold);
        text-decoration: none;
        color: var(--text-black)
    }
    ul {
        list-style-type: none;
        display: flex;
    }
    .navList li a {
        padding: 18px 30px;
    }
    .navList li:last-child a {
        cursor: pointer;
        border-radius: 20px;
        color: var(--text-white);
        background-color: var(--bg-color-black);
        position: relative;
        user-select: none;
    }
    .navList li:last-child:hover {
        transition: transform 0.1s ease-out;
        transform: translateY(-4px);
    }
    .navList li:last-child a:hover {
        box-shadow: 0 6px 7px rgba(83, 100, 255, 0.32);
        border: black 1px;
        background-color: #FFFF;
        color: black;
        transition: all 0.1s ease-out;
    }
    .navList li:last-child:active {
        transform: translateY(2px);
        transition: all 0.1s ease-out;
    }
    img, svg {
        user-select: none;
    }
    </style>