---
interface Props {
	className?: string;
    text: string;
}
const { className, text} = Astro.props;
---

<p class={className}>
    {text}
</p>
<style>
    p {
        text-align: start;
    }
</style>

