---
import OsysseyLogo from "../Header/OsysseyLogo.astro";
---
<section>
    <div>
        <OsysseyLogo></OsysseyLogo>
    </div>
    <div>
        <p>Stay Connected</p>
        <p>Educacion</p>
        <p>Community</p>
        <p>About Us</p>
    </div>
    <div>
        <p>Privacy policy</p>
        <p>Terms & Agreements</p>
    </div>
    <div>
        <p>[contact@odyssey.com].</p>
    </div>
</section>