---
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot/>
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500..800&display=swap');
	:root {
		/* not available for media queries */
		/* --min-desk-resolution: 1920px;
		--max-tablet-resolution: 1919px;
		--min-tablet-resolution: 1060px;
		--max-mobile-resolution: 1059px;
		--min-mobile-resolution: 375px; */
		
			/* Colors */
		--color-text-white: #FFFFFF;
		--color-text-black: #020305;
		--color-text-soft-black: #171E27;

		--color-bg-black: #0D0F12;
		--color-bg-soft-black: #22262c;

		/* Fonts */
		--font-family-jakarta: 'Plus Jakarta Sans', sans-serif;
		--font-weight-normal: 500;
		--font-weight-semibold: 600;
		--font-weight-bold: 800;

		/* Font Sizes */
		--font-size-title-mobile: 32px;
		--line-height-title-mobile: 40.32px;

		/* The following variables aply both on mobile and tablet */
		--font-size-small: 0.9rem;
		--font-size-medium: 1.125rem;
		--font-size-large: 2.5rem;

		--font-size-desk-small: 1.125rem;
		--font-size-desk-medium: 1.5rem;
		--font-size-desk-large: 4rem;

		/* Line Heights */
		/* The following variables aply both on mobile and tablet */
		--line-height-small: 1.625rem;
		--line-height-medium: 1.4375rem;
		--line-height-large: 3.125rem;

		--line-height-desk-text: 2.0625rem;
		--line-height-desk-h2: 1.875rem;
		--line-height-desk-h1: 5.0625rem;

		/* --padding-register-btn-tablet: 20px, 40px, 20px, 40px;
		--padding-register-btn-desk: 26px, 54px, 26px, 54px; */
	}
	html {
		width: 100dvw;
		font-family: var(--font-family-jakarta), 'system-ui', 'sans-serif';
		font-weight: var(--font-weight-normal);
		font-size: var(--font-size-small);
		line-height: var(--line-height-small);
		color: var(--color-text-soft-black);
	}
	@media (max-width: 1059px) {
		body {
			padding: 0px 24px;	
			margin: 0;	
		}
	}
	@media (min-width: 1060px) and (max-width: 1919px) {
		body {
			padding: 0px 80px;		
		}
	}
	@media (min-width: 1920px) {
		body {
			padding: 60px 80px;		
		}
	}
</style>
