---
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot/>
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500..800&display=swap');
	:root {
		/* not available for media queries */
		/* --min-desk-resolution: 1920px;
		--max-tablet-resolution: 1919px;
		--min-tablet-resolution: 1060px;
		--max-mobile-resolution: 1059px;
		--min-mobile-resolution: 375px; */
		
		--text-white: #FFFFFF;
		--text-black: #020305;
	 	--text-soft-black: #171E27; 

		--bg-color-black: #0D0F12;
		--bg-color-softblack: #22262c;

		--jakarta-font: Plus Jakarta Sans;
		--font-weight-base: 500;
		--font-weight-semibold: 600;
		--font-weight-bold: 800;

		--desk-line-height-text: 2.0625rem;
		--desk-line-height-h2: 1.875rem;
		--desk-line-height-h1: 5.0625rem;
		--desk-font-size-sm: 1.125rem;
		--desk-font-size-md: 1.5rem;
		--desk-font-size-lg: 4rem;

		
		--font-size-sm: 0.9rem;
		--font-size-md: 1.125rem;
		--font-size-lg: 2.5rem;
		--line-height-sm: 1.625rem;
		--line-height-md: 1.4375rem;
		--line-height-lg: 3.125rem;
		
		--desk-layout-padding: 60px 80px;
		--mobile-layout-padding: 25px 35px;
		--tablet-layout-padding: 25px 80px;
	}
	html {
		font-family: var(--jakarta-font), 'system-ui', 'sans-serif';
		font-weight: var(--font-weight-base);
		font-size: var(--font-size-sm);
		line-height: var(--line-height-sm);
		color: var(--text-soft-black);
	}
	@media (min-width: 1px) and (max-width: 374px) {
        body { 
            display: none;
        }
    }
	@media (min-width: 375px) and (max-width: 1059px) {
		body {
			padding: var(--mobile-layout-padding);		
		}
	}
	@media (min-width: 1060px) and (max-width: 1919px) {
		body {
			padding: var(--tablet-layout-padding);		
		}
	}
	@media (min-width: 1920px) {
		body {
			padding: var(--desk-layout-padding);		
		}
	}
</style>
